@font-face {
    font-family: myEaves;
    src: url('../res/mrse.otf')
        url('../res/mrse.ttf') format('truetype');
}

@font-face {
    font-family: myFont;
    src: url('../res/font.otf');
}

.scroll-feedback {
    position: absolute;
    width: 10px;
    height: 190px;
    top: 15%;
    left: 2.5%;
    z-index: 3;
}
.scroll-feedback div {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #FFF;
    margin-bottom: 24px;
    display: block;
    transition: opacity 0.65s ease 0s;
    opacity: 0.2;
}
.scroll-feedback div.active {
    opacity: 0.8;
}
#logo-container {
    z-index: 1;
    position: relative;
    display: block;
    width: 100%;
    height: 680px;
    background-color: #231f20;
    text-align: center;
    transition: background-color 1600ms ease 0s;
    backface-visibility: hidden;
    transform: translate3d(0px, 0px, 0px);
}
#logo-canvas{
    z-index: 0;
}
.active {
    opacity: 0.8;
}
*, *:before, *:after {
    box-sizing: border-box;
}
#logo-container .content-logo{
    position:absolute;
    top:15%;
    left:55%;
    width:488px;
    margin-left:-305px;
    text-align:center;
    font-family:chaparral-pro,sans-serif;
    font-weight:100;
    font-size:31px;
    padding-top:110px;
}
.content-logo {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
#controls div {
    position: relative;
    z-index: 1;
    display: inline-block
}
#controls {
    width: 120px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    text-align: center;
    margin-left: -60px;
    z-index: 4;
    cursor:pointer;
    backface-visibility: hidden;
    transform: translate3d(0px, 0px, 0px);
    color: #FFF;
    font-weight: bold;
}
#controls #next-btn:before {
    margin-top: 16px;
    margin-left: -60px;
    position: absolute;
    content: "NEXT ";
    font-family: Euclid,sans-serif;
    opacity: 1;
    transition: opacity 0.65s ease-in-out 0s, margin-left 0.35s ease-in-out 0s;
}